---
---
<html lang="en">
    <!--FOOTER SECTION INTEGRATED FROM FLOWBITE -->
<footer class=" bg-blue-950">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a>
                  <span class="self-center text-2xl text-gray-500 font-semibold whitespace-nowrap dark:text-white">IIT Bombay-FOSSEE</span>
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">About</h2>
                  <ul class="text-gray-500  font-medium">
                      <li>
                          <a href="" class="hover:underline">IIT BOMBAY</a>
                      </li>
                      <li>
                          <a href="" class="hover:underline">FOSSEE</a>
                      </li>
					  <li>
						<a href="" class="hover:underline">NMEICT</a>
					  </li>
					  <li>
						<a href="" class="hover:underline">The RuDRA lab</a></li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 "></h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li >
                          <a href="" class="hover:underline ">IITTNiF</a>
                      </li>
                      <li>
                          <a href="" class="hover:underline">ICFOSS</a>
                      </li>
					  <li>
						<a href="" class="hover:underline">Spoken Tutorials</a>
					</li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resourses</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="#" class="hover:underline">QGIS</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline">Spoken Tutorials -FOSSE -GIS</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">This work is licensed under a <a href="" class="hover:underline"> Creative Commons Attribution-ShareAlike 4.0 International License .</a>
          </span>
      </div>
    </div>
</footer> 
</html>