---
import Footer from '../pages/Footer.astro';
import Navigation from '../pages/Navigation.astro';
import FAQs from '../pages/FAQs.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<Navigation>
		</Navigation>
		<div class="grid-cols-1">
			<div class="col-span-1 z-0 items-center overflow-hidden justify-center inset-x-0 top-0 bg-blue-950 "> 
				<video src= "indiaearthvid.mp4" autoplay="{true}" loop muted class="flex min-w-full min-h-full w-screen max-w-none">
				</video>

	
			</div>
			
			<div class="bg-blue-950 col-span-1 justify-center ">
				<div class=" grid grid-cols-1 sm:grid-cols-3">
					<div class=" col-span-1 sm:col-span-2 pt-10 sm:pt-16 pl-14">
						<h2 class="mb-12 text-3xl text-fuchsia-50 font-bold leadi sm:text-5xl">Introduction</h2>
						<p class= "pb-8 pr-12 text-sm font-medium text-gray-300">Welcome to the National Level Open Hardware-IoT Geospatial Hackathon, a stage where innovation knows no boundaries. This premier event brings together visionaries, tech enthusiasts, and problem solvers from across the nation to harness the power of open hardware, the Internet of Things (IoT), and geospatial technology. Get ready to explore uncharted possibilities, collaborate on real-world challenges, and make a significant impact on our world.
	
							Significance:
							In a world where technology shapes our daily lives, the significance of this hackathon cannot be overstated. Here, participants have the opportunity to redefine the boundaries of what's possible. By merging open source principles with cutting-edge technologies, we aim to:
							Solve Real-World Problems: Tackle critical issues such as environmental sustainability, disaster management, precision agriculture, and more. Your solutions can change lives and protect our planet.
							Foster Innovation: Innovation thrives when knowledge is shared openly. By promoting open source hardware and IoT, we empower you to push the boundaries of creativity and discovery.
							Create Collaborative Communities: Through this hackathon, we build communities of like-minded individuals passionate about making a difference. Together, we can achieve more than any one of us can alone.
							Empower Future Leaders: Whether you're a student, a professional, or an enthusiast, this hackathon is a launchpad for your ideas. It's a chance to develop your skills, showcase your talents, and make your mark on the world.</p>
						<h2 class="invisible sm:visible mb-12 text-3xl text-fuchsia-50 font-bold leadi sm:text-5xl">Purpose</h2>
						
					</div>
					<div class="col-span-1 ">
						<div class="pt-10 pb-10 pl-10 pr-5 hover:scale-125">
							<div class="bg-[url('stars.jpg')] bg-indigo-900 w-[250px] h-[480px]  rounded-[50%/60%_60%_40%_40%] drop-shadow-[0px_15px_3px_rgba(0,0,0,0.25)]">
								<div class="grid grid-rows-4 ">
									<div class="pt-20 pb-4 row-span-1 text-center text-2xl text-blue-500 font-bold leadi  "><a href="https://forms.gle/aVopwiwmRM35FXQT8">Registor Now!</a></div>
									<div class="pt-10 pb-6 px-3 row-span-2 text-center text-blue-300 font-bold leadi">Registration opens: April 29, 2023<br>Registration closes: June 10, 2024<br>Hackathon start date : June 12, 2024<br>Result Declaration: July 31, 2024</div>
									<div class="row-span-1 justify-center text-center">
										<button type="button" class="justify-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br shadow-lg shadow-blue-500/50  font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Registor</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class=" col-span-1 sm:col-span-3 pt-0 pl-14">
						<h2 class="visible sm:hidden mb-12 text-3xl text-fuchsia-50 font-bold leadi sm:text-5xl">Purpose</h2>
						<p class= "pb-16 pr-12 text-sm font-medium text-gray-300">This hackathon is more than just a competition; it's a platform for innovators, creators, and visionaries to come together and pioneer solutions for a brighter future. Our purpose is to harness the power of open source hardware, the Internet of Things (IoT), and Geographic Information Systems (GIS) to address some of the world's most pressing challenges.
	
							The FOSSEE project, IIT Bombay promotes the use of Free/ Libre Open Source Software in academia and Industry. The FOSSEE project  is funded through the National Mission on Education through ICT (NMEICT), Ministry of Education, Government of India. The FOSSEE-GIS team manages the overall coordination of the "IIT Bombay FOSSEE GIS Internship in Geospatial Dashboard Design and Implementation". 
						</p>
	
					</div>
	
					
				</div>
			</div>
		</div>
		
		<div class="pl-6 pr-6 pt-6 pb-6 z-10 shadow-xl bg-gradient-to-r from-blue-800 to-zinc-950 flex flex-col">
			<div class="bg-gradient-to-r from-zinc-950 to-blue-800 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 rounded-xl justify-around gap-x-20 gap-y-8 pt-3 pb-6 pl-6 pr-6">
                <div class="text-fuchsia-50 col-span-2 sm:col-span-3 lg:col-span-5 text-3xl font-bold leadi sm:text-5xl text-center">Our Partners</div>
				<div class= "rounded-lg bg-fuchsia-50 col-span-1 hover:rotate-12 duration-300"><div><img class="max-w-40 " src="iitblogo.png" alt="IIT Bombay logo"></img></div></div>
				<div class= "rounded-lg bg-fuchsia-50 col-span-1 hover:rotate-12 duration-300"><div><img class="max-w-40 " src="fosseelogo.png" alt="IIT Bombay logo"></img></div></div>
				<div class= "rounded-lg bg-fuchsia-50 col-span-1 hover:rotate-12 duration-300"><div><img class="max-w-40 " src="icfosslogo.png" alt="IIT Bombay logo"></img></div></div>
				<div class= "rounded-lg bg-fuchsia-50 col-span-1 hover:rotate-12 duration-300"><div> <img class="max-w-40 " src="iittirupati.png" alt="IIT Bombay logo"></img></div></div>
				<div class= "rounded-lg bg-fuchsia-50 col-span-1 hover:rotate-12 duration-300"><div><img class="max-w-40 " src="navavishkaar.png" alt="IIT Bombay logo"></img></div></div>
				<div class= "rounded-lg bg-fuchsia-50 col-span-1 hover:rotate-12 duration-300"><div><img class="max-w-40 " src="nmeictlogo.png" alt="IIT Bombay logo"></img></div></div>
				<div class= "rounded-lg bg-fuchsia-50 col-span-1 hover:rotate-12 duration-300"><div><img class="max-w-24 " src="NMICPSlogo.png" alt="IIT Bombay logo"></img></div></div>
				<div class= "rounded-lg bg-fuchsia-50 col-span-1 hover:rotate-12 duration-300"><div><img class="max-w-24 " src="rudralogo.png" alt="IIT Bombay logo"></img></div></div>
				<div class= "rounded-lg bg-fuchsia-50 col-span-1 hover:rotate-12 duration-300"><div ><img class=" max-w-24 " src="stlogo.png" alt="IIT Bombay logo"></img></div></div>
				<div class=" col-span-2 sm:col-span-3 lg:col-span-5 text-sm font-medium text-gray-300"><p>Main Organizer: IIT Bombay FOSSEE GIS & OSHW project (NMEICT, Ministry of Education, Government of India)  The IIT Bombay FOSSEE GIS & OSHW project teams are the main organizers of this National Level Geospatial IoT Hackathon 2024 (Edition 01). FOSSEE promotes the usage of Free/Libre Open Source Software in academia and industry and is funded through the National Mission on Education through ICT, Ministry of Education, Government of India.<br>Technical Partner:  The Rural Data Research and Analysis (RuDRA) Lab, IIT Bombay is India's first HPC-powered data center dedicated to Rural Development.<br>Organizing Partners: IITTNiF (NM-ICPS, DST, Government of India) & ICFOSS (Government of Kerala):   The IIT Tirupati Navavishkar I-Hub Foundation is the Technology Innovation Hub of IIT Tirupati specializing in Positioning and Precision Technologies, funded through the National Mission on Interdisciplinary Cyber-Physical System (NM-ICPS), Department of Science and Technology, Government of India. ICFOSS: The International Centre for Free and Open Source Software (ICFOSS) is an autonomous organization set up by the Government of Kerala, India, and has the combined mandate of popularizing Free and Open Source Software for universal use; consolidating the early FOSS work done in Kerala; and networking with different nations, communities, and governments to collaboratively promote FOSS</p></div>
			</div>
		</div>
		<FAQs>
		</FAQs>
		  <section class="bg-indigo-950 ">
			<div class="container grid grid-cols-1 gap-10 px-6 py-12 mx-auto lg:grid-cols-3">
				<div>
					<p class="font-medium text-blue-700 ">Have a Doubt ?</p>
		
					<h1 class="mt-2 text-3xl text-gray-500 font-bold leadi sm:text-5xl">Get in touch with us!</h1>
					<div class="flex flex-col">
						<div class="relative sm:max-w-xl sm:mx-auto">
							<div class="">
								<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
								<dotlottie-player src="https://lottie.host/302233cb-4733-466e-a0cf-47967c5c80fc/38BReiNcS3.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
							</div>
							<div class="text-gray-600 relative px-4 py-4 bg-indigo-400 shadow-lg sm:rounded-3xl ">
								<div class="text-center pb-6">
									<h1 class="text-3xl">Contact Us!</h1>
					
									<p class="text-gray-300">
										<br>rajesh@cse.iitb.ac.in; <br>mohamedkasim@iitb.ac.Sin
									</p>
								</div>
							</div>
						</div>
					</div>


				</div>
		
				<div class="grid grid-cols-1 gap-12 lg:col-span-2 bg-indigo-950  sm:grid-cols-2 pl-6">
					<div class="rounded-lg shadow-2xl bg-blue-950 hover:bg-gray-950 pl-3 pb-3 ">
						<h2 class="font-medium text-gray-300 dark:text-white">Prof. Kannan Moudgalya</h2>
						<p class="mt-2 text-gray-500 dark:text-gray-400 ">Principal Investigator, FOSSEE, Spoken Tutorial, NVLI<br>Indian Institute of Technology Bombay</p>
					</div>
		
					<div class="rounded-lg shadow-2xl bg-blue-950 hover:bg-gray-950  pl-3 pb-3">
						<h2 class="font-medium text-gray-300 dark:text-white">Prof. Pennan Chinnasamy</h2>
						<p class="mt-2 text-gray-500 dark:text-gray-400">Co.P.I., FOSSEE & PiC, The Rural Data Research & Analysis (RuDRA) Lab, IIT Bombay<br>IIT Bombay</p>
					</div>
		
					<div class="rounded-lg shadow-2xl bg-blue-950 hover:bg-gray-950 pl-3 pb-3">
						<h2 class="font-medium text-gray-300 dark:text-white">Prof. Roshan Srivastav</h2>
						<p class="mt-2 text-gray-500 dark:text-gray-400">Project Director, IIT Tirupati Navavishkar I-Hub Foundation (NM-ICPS, DST)<br>IIT Tirupati</p>
					</div>
		
					<div class="rounded-lg shadow-2xl bg-blue-950 hover:bg-gray-950 pl-3 pb-3">
						<h2 class="font-medium text-gray-300 dark:text-white">Mr. Rajesh Kushalkar</h2>
						<p class="mt-2 text-gray-500 dark:text-gray-400">Senior Manager, FOSSEE-Open Source Hardware (OSHW)<br>Indian Institute of Technology Bombay</p>
					</div>
		
					<div class="rounded-lg shadow-2xl bg-blue-950 hover:bg-gray-950 pl-3 pb-3">
						<h2 class="font-medium text-gray-300 dark:text-white">Dr. Sunil T T</h2>
						<p class="mt-2 text-gray-500 dark:text-gray-400">Director<br>ICFOSS</p>
					</div>
		
					<div class="rounded-lg shadow-2xl bg-blue-950 hover:bg-gray-950 pl-3 pb-3">
						<h2 class="font-medium text-gray-300 dark:text-gray-200">Dr. Srinivasan Ravindran</h2>
						<p class="mt-2 text-gray-500 dark:text-gray-400">Program Head, FOSS Business Solutions<br>ICFOSS</p>
					</div>
				</div>

				<div class=" grid grid-cols-1 lg:grid-cols-3 lg:col-span-3 sm:grid-cols-2 gap-12 pl-6">
					<div class="rounded-lg shadow-2xl bg-blue-950 hover:bg-gray-950 min-h-32 pl-3 pb-3">
						<h2 class="font-medium text-gray-300 dark:text-white">Mr. Shafeek P M</h2>
						<p class="mt-2 text-gray-500 dark:text-gray-400">Technical Coordinator - IoT<br>ICFOSS</p>
					</div>
		
					<div class="rounded-lg shadow-2xl bg-blue-950 hover:bg-gray-950 pl-3 pb-3">
						<h2 class="font-medium text-gray-300 dark:text-white">Mr. Jayakumar K S</h2>
						<p class="mt-2 text-gray-500 dark:text-gray-400">Manager, Incubation & FOSS Business Solutions<br>ICFOSS</p>
					</div>
		
					<div class="rounded-lg shadow-2xl bg-blue-950 hover:bg-gray-950 pl-3 pb-3">
						<h2 class="font-medium text-gray-300 dark:text-gray-200">Mr. Mohamed Kasim Khan</h2>
						<p class="mt-2 text-gray-500 dark:text-gray-400 ">National Coordinator, FOSSEE-GIS & GIS-IoT Hackathon<br>National Mission on Education through ICT, Ministry of Education, Government of India<br>IIT Bombay</p>
					</div>

				</div>
			</div>
		</section>
		 


	</body>
<!--FOOTER SECTION -->
<Footer>
</Footer>
</html>
