---
import Footer from '../pages/Footer.astro';
import Navigation from '../pages/Navigation.astro';
---

<html lang="en">
    <head>

    </head>
    <Navigation></Navigation>
    <body >
        <div class=" bg-indigo-950 text-gray-100 pt-8 min-h-screen">
            <div class="container pb-12 sm:pb-6 flex flex-col justify-center mx-auto md:p-8">
                <h1 class= "text-4xl font-bold leadi text-center sm:text-5xl">Resourses</h1>
            </div>
            <div>
                <section class="group hover:animate-bounce text-center">
                    <hr>
                    <h2 class="text-2xl pt-8 ">FOSSEE and Spoken Tutorail</h2>
                    <div class="invisible group-hover:visible">
                        <a href="https://spoken-tutorial.org/tutorial-search/?search_foss=Arduino&search_language=English" class="hover:underline">1. Arduino Tutorial Series by Spoken Tutorial</a><br>
                        <a href="https://floss-arduino.fossee.in/" class="hover:underline">2. FLOSS-Arduino books teach Arduino control via open-source software</a>
                    </div>
        
                </section>
                <section class="group hover:animate-bounce text-center">
                    <hr>
                    <h2 class="text-2xl pt-8 ">Soil Nutrients Monitoring and Precision Agriculture</h2>
                    <div class="invisible group-hover:visible">
                        <a href="https://www.youtube.com/watch?v=pgGpuws7f9o" class="hover:underline">1. Water Your Garden with IoT - Soil Moisture Sensors</a><br>
                        <a href="https://www.youtube.com/watch?v=PTJ9sAk2c2I" class="hover:underline">2. New Blynk IOT Smart Plant Monitoring System</a>
                    </div>
        
                </section>
                <section class="group hover:animate-bounce text-center">
                    <hr>
                    <h2 class="text-2xl pt-8 ">Weather Station</h2>
                    <div class="invisible group-hover:visible">
                        <a href="https://www.youtube.com/watch?v=snCp0TqrER4" class="hover:underline">1. DIY Smart Home Weather Station - Wind, Rain, Temperature, Pressure, Humidity, Ligh</a><br>
                        <a href="https://www.youtube.com/watch?v=l3-y371RlI4" class="hover:underline">2. Arduino Wireless Weather Station Project</a><br>
                        <a href="https://www.youtube.com/watch?v=Nw392q1Sg4M" class="hover:underline">3. LoRa Based Wireless Weather Station using Arduino and ESP32</a>
                    </div>
        
                </section>
                <section class="group hover:animate-bounce text-center">
                    <hr>
                    <h2 class="text-2xl pt-8 ">Air Quality and Noise Pollution Level</h2>
                    <div class="invisible group-hover:visible">
                        <a href="https://www.youtube.com/watch?v=SCXteaUVICw" class="hover:underline">1. Air Quality Monitoring and Alert System using Arduino with MQ135</a><br>
                        <a href="https://www.youtube.com/watch?v=p3-0mWkOFBk" class="hover:underline">2. IoT based Noise & Air quality Monitoring using blynk IoT | New Automation Tab update in Blynk</a>
                    </div>
        
                </section>
                <section class="group hover:animate-bounce text-center">
                    <hr>
                    <h2 class="text-2xl pt-8 ">Asset Tracking</h2>
                    <div class="invisible group-hover:visible">
                        <a href="https://www.youtube.com/watch?v=zFn487G2pY8" class="hover:underline">1. IOT Asset Tracking System</a><br>
                        <a href="https://www.youtube.com/watch?v=rdvZpwV9A18" class="hover:underline">2. Arduino Gps And Gsm Based location Tracking System | Women Safety Device Small Version</a>
                    </div>
        
                </section>
                <section class="group hover:animate-bounce text-center">
                    <hr>
                    <h2 class="text-2xl pt-8 ">Global Warming</h2>
                    <div class="invisible group-hover:visible">
                        <a href="https://www.youtube.com/watch?v=0SulU4QM334" class="hover:underline">1. Smart Grid: How IoT fights climate change (Kelsey Breseman)</a><br>
                    </div>
        
                </section>
                <section class="group hover:animate-bounce text-center">
                    <hr>
                    <h2 class="text-2xl pt-8 ">Disaster Management</h2>
                    <div class="invisible group-hover:visible">
                        <a href="https://www.youtube.com/watch?v=dYG7GsqcCMM" class="hover:underline">1. Geospatial data for disaster management at ITC</a><br>
                    </div>
        
                </section>
                <section class="group hover:animate-bounce text-center">
                    <hr>
                    <h2 class="text-2xl pt-8 ">Vehical Detection and Intelligent transportation</h2>
                    <div class="invisible group-hover:visible">
                        <a href="https://www.youtube.com/watch?v=H_JhcBTgwPo" class="hover:underline">1. Intelligent Transport Systems made in KOREA English Version 22'</a><br>
                        <a href="https://www.youtube.com/watch?v=Q8Cn47L8FRQ" class="hover:underline">2. Connected Vehicle: The Future of Transportation</a>
                    </div>
        
                </section>
            </div>
        </div>
    </body>
    <Footer></Footer>
</html>